# Node modules
node_modules/

# Local config (optional per-user overrides)
config-local.json

# Build output (temporary)
_dist/
_release/

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*


# Optional editor folders
.vscode/
 
/_build
